
.icon-award:before { content: '\e801'; } /* '' */
.icon-bow-arrow:before { content: '\e802'; } /* '' */
.icon-aim:before { content: '\e803'; } /* '' */
.icon-arrow1:before { content: '\e804'; } /* '' */
.icon-arrow-aim:before { content: '\e805'; } /* '' */
.icon-aim2:before { content: '\e806'; } /* '' */
.icon-man-bow:before { content: '\e807'; } /* '' */
.icon-man-bow2:before { content: '\e808'; } /* '' */
.icon-man-bow-aim:before { content: '\e809'; } /* '' */
