{% extends 'ArcheryComp/base.html' %}

{% block title %}
ArcheryComp Password reset
{% endblock %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Сброс пароля</h1>  
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    
    <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
              <div class="row mx-1">
                  <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="row">{{ field.label_tag }}</div>
                    <div class="row">{{field}}</div>
                  </div>
              </div>
          {% endfor %}
        
    <button type="submit" class="main-btn confirm-btn mt-3">Сбросить пароль</button>
    </form>
{% endblock %}