{% extends 'ArcheryComp/base.html' %} 

{% block title %}
ArcheryComp Profile
{% endblock %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Личный кабинет</h1>  
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-2">
        <h3>Пользователь: {{ user_.username }}</h3>
    </div>
    <div class="row">
        <div class="row justify-content-start mx-1 mt-2">
            <div class="col-xl-4 col-md-7 col-sm-12">
                ФИО: {{ user_.last_name }} {{ user_.first_name }} {{ user_.profile.second_name }}
            </div>
        </div>
        <div class="row justify-content-start mx-1 mt-2">
            <div class="col-xl-4 col-md-7 col-sm-12">
                Уровень: {{ user_.profile.rank }}
            </div>
        </div>
    </div>
    
    <!--username - id спорстмена ... -->
    <div class="row mx-1 mt-2">
        <div class="col-xl-4 col-md-7 col-sm-12">
            <a href="{% url 'participations:user_part' user_.username %}" class="confirm-btn">Участия пользователя</a>
        </div>
    </div>
    {% if user.is_authenticated and user == user_ %}
    <div class="row mx-1 mt-2">
        <div class="col-xl-4 col-md-7 col-sm-12">
            <a href="{% url 'users:profile' %}" class="confirm-btn">Редактировать профиль</a>
        </div>
    </div>
    {% endif %}
    
    
</div>



{% endblock content %}