{% extends 'ArcheryComp/base.html' %} 

{% block title %}
ArcheryComp Profile
{% endblock %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Личный кабинет</h1>  
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <h3>Пользователь: {{ user.username }}</h3>
    <form method="post">
        {% csrf_token %}

        {% for field in user_form %}
            <div class="row mx-1 mt-2">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="row">{{ field.label_tag }}</div>
                    <div class="row">{{field}}</div>
                </div>
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="row mx-1 mt-2">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="row">{{ field.label_tag }}</div>
                    <div class="row">{{field}}</div>
                </div>
            </div>
        {% endfor %}

    
        <div class="row mx-1 mt-4 mb-5">
            <div class="col-xl-4 col-md-7 col-sm-12">
                <div class="row">
                    <button type="submit" class="confirm-btn">Сохранить</button>
                </div>
            </div>
        </div>
        
    </form>
    
</div>



{% endblock content %}