{% extends 'ArcheryComp/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col competition-list">
            {% block main %}{% endblock %}
        </div>

        <div class="col-2 " >
            <div class="row justify-content-end" >
                <div class="col-12" >
            <!-- <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-row" id="navbarNav"> -->
                        <ul class="row navbar-nav text-center disciplines-navbar">
                            <li class="nav-item mt-2">
                                <a href="{% url 'competitions:classical_list' %}" class="nav-link comp-sidebar-elem">Классический лук</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a href="{% url 'competitions:compound_list' %}" class="nav-link comp-sidebar-elem">Блочный лук</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a href="{% url 'competitions:D_list' %}" class="nav-link comp-sidebar-elem">3Д стрельба из лука</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a href="{% url 'competitions:acheri_list' %}" class="nav-link comp-sidebar-elem">Ачери</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a href="{% url 'competitions:asymmetrical_list' %}" class="nav-link comp-sidebar-elem">Ассиметричный лук</a>
                            </li>
                        </ul>
                    <!-- </div>
                </div>
            </nav>     -->
        </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}