<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Общий заголовок для всех страниц --> 
        <div class="container-fluid ">
            <!-- Naviagtion panel -->    
            <nav>
                <!-- Навигационное меню -->
                <div class="container-fluid" style="margin: -15px auto 0px"> 
                    <div class="row">
            
                        <nav class="navbar navbar-expand-lg main-nav">
                            <div class="container-fluid">
                                <!-- Main icon -->
                                <a href="{% url 'home_page' %}" class="ArcheryComp">
                                    <i class="icon-bow-arrow"></i> ArcheryComp
                                </a>
                                <div class="" style="height: 50px; width: 50px;"> 
                                    <button class="navbar-toggler main-btn btn-transform nav-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="icon-arrow1 nav-i" style="transform: rotate(-90deg);" ></i>
                                    </button>
                                </div>
                              
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                
                                <!-- Navigation buttons -->
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  
                                    <li class="nav-item">
                                    <a href="{% url 'competitions:index' %}" class="main-btn nav-btn">
                                        <i class="icon-arrow-aim nav-i" style="padding-right: 7px;"></i> Соревнования
                                    </a>
                                    </li>
            
                                    <li class="nav-item">
                                        <a href="{% url 'participations:index' %}" class="main-btn nav-btn">
                                            <i class="icon-man-bow2 nav-i"></i>Спортсмены
                                        </a>
                                    </li>
            
                                </ul>
                                <!-- end Navigation buttons -->
                                <div class="line mb-1"></div>
                                <!-- auth -->
                                <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="background-color: aqua;"> -->
                                    <div class="row justify-content-center">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            {% if user.is_authenticated %}
                                                <li class="nav-item">
                                                    <a href="{% url 'users:profile_view' user.username %}" class="main-btn nav-auth-btn">Профиль {{ user.username }}</a>
                                                </li>
            
                                                <li class="nav-item">
                                                    <form action="{% url 'users:logout' %}" method="post">
                                                        {% csrf_token %}
                                                        <button type="submit" class="main-btn nav-auth-btn" style="width: 100%;">Выйти</button>
                                                    </form>
                                                </li>
                                            {% else %}
                                                <li class="nav-item ">
                                                    <a href="{% url 'users:login' %}" class="main-btn nav-auth-btn">Вход</a>
                                                </li>
            
                                                <li class="nav-item ">
                                                    <a href="{% url 'users:register' %}" class="main-btn nav-auth-btn">Регистрация</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <!-- </ul> -->
            
                                <!-- end auth -->
                              </div>
                            </div>
                          </nav>
                        
                        
                        
                        
                    </div>
                </div>
                
            
            </nav>
            
            
                
            <div class="line"></div>
        </div>
        
        
    </header>
    <div class="sub-header">
        {% block header %}
        {% endblock %}
    </div>

    <main>
        
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>
    
    
    <footer>
        <!-- Общий футер для всех страниц -->
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>