<nav>
    <!-- Навигационное меню -->
    <div class="container-fluid" style="margin: -15px auto 0px"> 
        <div class="row">

            <nav class="navbar navbar-expand-lg main-nav">
                <div class="container-fluid">
                    <!-- Main icon -->
                    <a href="{% url 'home_page' %}" class="ArcheryComp">
                        <i class="icon-bow-arrow"></i> ArcheryComp
                    </a>
                    <div class="" style="height: 50px; width: 50px;"> 
                        <button class="navbar-toggler main-btn btn-transform nav-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-arrow1 nav-i" style="transform: rotate(-90deg);" ></i>
                        </button>
                    </div>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <!-- Navigation buttons -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      
                        <li class="nav-item">
                        <a href="{% url 'competitions:index' %}" class="main-btn nav-btn">
                            <i class="icon-arrow-aim nav-i" style="padding-right: 7px;"></i> Соревнования
                        </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'participations:index' %}" class="main-btn nav-btn">
                                <i class="icon-man-bow2 nav-i"></i>Спортсмены
                            </a>
                        </li>

                    </ul>
                    <!-- end Navigation buttons -->
                    <div class="line mb-1"></div>
                    <!-- auth -->
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="background-color: aqua;"> -->
                        <div class="row justify-content-center">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <form action="{% url 'profile' %}">
                                            <button type="submit" class="main-btn auth-btn">Профиль {{ user.username }} (изм)</button>
                                        </form>
                                    </li>

                                    <li class="nav-item ">
                                        <form action="{% url 'logout' %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="main-btn auth-btn">Log Out</button>
                                        </form>
                                    </li>
                                {% else %}
                                    <li class="nav-item ">
                                        <a href="{% url 'login' %}" class="main-btn auth-btn">Log In</a>
                                    </li>

                                    <li class="nav-item ">
                                        <a href="{% url 'register' %}" class="main-btn auth-btn">Register</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- </ul> -->

                    <!-- end auth -->
                  </div>
                </div>
              </nav>
            
            
            
            
        </div>
    </div>
    

</nav>

